@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}
h1,h2,h3,h4,p{
    color: rgb(66, 66, 66);
}
@import './player';
@import './song'